<%= javascript_include_tag 'chat' %>
<br />
<input id="chat" type=text name="message" size="30" /><input type="button" name="message_send" id="message_send" value="send" />
<div>
  <pre>
    <code id="chat_window"></code>
  </pre>
</div>
